DATABASE_URL="file:./dev.db"

APP_URL=https://miapp.com
MINISTERIO_LOGO=https://miapp.com/img/logo.png

SMTP_HOST=smtp.tudominio.com
SMTP_PORT=587
SMTP_USER=notificaciones@tudominio.com
SMTP_PASS=tu_contraseña

CONTACT_EMAIL=equipo@ministerio.org
ADMIN_EMAIL=admin@ministerio.org
